@charset "UTF-8";
body {
	text-align: center;
	background-color: #C7C4E6;
}

main {
	padding: 50px;
}

.hero-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
}

.basket-fruit-img {
	height: 400px;
	width: 600px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #423741;
}

.img-last {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

.sign-in-msg {
	width: 600px;
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	font-size: 30px;
}

.sign-in-btn {
	padding: 8px;
	font-size: 20px;
	background-color: #48AB6E;
}