@charset "UTF-8";
.display-section {
	display: flex;
	flex-wrap: wrap;
}

.fruit {
	background-color: rgba(200, 200, 200, 0.8);
	border-radius: 10px;
	width: 422px;
	padding: 20px;
	margin: 5px;
}

.fruit-name {
	font-size: 20px;
	font-weight: bold;
}

img {
	height: 150px;
	border-radius: 10px;
}